@model MVC_Blog.Models.ItemModels.Recipe
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Single Recipe Section Begin -->
<section class="single-page-recipe spad">
    <div class="recipe-top">
        <div class="container-fluid">
            <div class="recipe-title">
                <h2>@Model.RecipeName</h2>
                <ul class="tags">
                    @foreach (var item in Model.Tags)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="ingredients-item">
                    <div class="intro-item">
                        <img src="@Url.Content("~/Content/img/recipe/" + Model.Image)" alt="">
                        <h2>@Model.RecipeName</h2>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="reviews">4.9 from 25 reviews</div>
                        <div class="recipe-time">
                            <ul>
                                <li>Prep time: <span>@Model.PrepTime min</span></li>
                                <li>Cook time: <span>@Model.CookTime min</span></li>
                                <li>Yield: <span>5</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ingredient-list">
                        <div class="recipe-btn">
                            <a href="#">Print Recipe</a>
                            <a href="#" class="black-btn">Pin Recipe</a>
                        </div>
                        <div class="list-item">
                            <h5>Ingredients</h5>
                            @Html.Raw(Model.IngredientsContent)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="recipe-right">
                    <div class="recipe-desc">
                        <h3>Description</h3>
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="instruction-list">
                        <h3>Instructions</h3>
                        @Html.Raw(Model.MainContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Recipe Section End -->
<!-- Similar Recipe Section Begin -->
<section class="similar-recipe spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-7.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Italian Tiramisu with Coffe</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-6.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Dry Cookies with Corn</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-5.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Asparagus with Pork Loin and Vegetables</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-4.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Similar Recipe Section End -->