@model IEnumerable<MVC_Blog.Models.ItemModels.Recipe>
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Recipe Section Begin -->
<section class="recipe-section spad">
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <a href="@Url.Action("Create", "Recipe")" class="btn btn-secondary">New Recipe</a>
            </div>
        }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="recipe-item">
                        <a href="@Url.Action("Details", new { seoUrl = item.SeoUrl })"><img src="@Url.Content("~/Content/img/recipe/" + item.Image)" alt=""></a>
                        <div class="ri-text">
                            @for (int i = 0; i < Math.Min(item.Tags.Count, 3); i++)
                            {
                                <div class="cat-name">@item.Tags[i].Name</div>
                            }
                            <a href="@Url.Action("Details", new { seoUrl = item.SeoUrl })">
                                <h4>@item.RecipeName</h4>
                            </a>
                            <p>
                                @item.Description.Substring(0, Math.Min(item.Description.Length, 100))
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recipe-pagination">
                    <a href="#" class="active">01</a>
                    <a href="#">02</a>
                    <a href="#">03</a>
                    <a href="#">04</a>
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recipe Section End -->